{{#each postagem}}

			<h1>{{slug}}</h4>	

	<div class="card bg-info text-white mt-1">
			<div class="card-body card-success">
			<h1>{{titulo}}</h4>	
			<small>{{date}}</small>	<hr>
			<p> {{conteudo}}</p>
			
			
	
		</div>
	</div>
	
{{else}}
	<P>Nenhuma postagem registrada</P>
{{/each}}
